

.content{
    width: 100%;
    margin-top: 10px;
}

.project {
    margin: 10px auto;
    padding: 20px 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #BCA3BF;
    
}

.project a {
    color: black;
}



.project2 {
    flex-direction: row-reverse;
}

.link {
    width: 50%;
    padding-right: 20px;
    
}



.link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.changes {
    width: 50%;
    
}






