@import url("content.css");


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Roboto', sans-serif;
   /* background-color: #D9D9D9; */
   color: #1C2126;
}

header {
    width: 100%;
}

nav {
    top: 0;
    padding: 0.2rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

nav,
nav a {
    background-color: #1C2126;
}

a {
    text-decoration: none;
    color: #D9D9D9;
    
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 0.8rem;
}

main {
    padding: 20px;
    background-color: #D9D9D9;

}

