@import url("content.css");
@import url("project.css");


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Roboto', sans-serif;
   color: whitesmoke;
}

header {
    width: 100%;
}

nav {
    top: 0;
    padding: 0.2rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

nav,
nav a {
    background-color: #0C0C0D;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9rem;
    
}

h1 {
    font-size: 1.2rem;
    text-align: center;
}

h2 {
    font-size: 0.9rem;
}

main {
    padding-top: 20px;
    background-color: #8183A6;
}

